timestamp: ${now:%y%m%d%H%M%S}
hydra:
    run:
        dir: ./outputs/${hydra.job.name}/${timestamp}
    callbacks:
        save_job_info:
            _target_: hydra.experimental.callbacks.PickleJobInfoCallback
        save_git_info:
            _target_: orbitsim.hydra.GitSHACallback
    output_subdir: config

bunch:
    mass: 0.93827231  # [GeV / c^2]
    energy: 1.300  # [GeV]
        
lattice:
    path: ./lattice/sns_ring_nux6.24_nuy6.15_mad.lattice
    seq: RINGINJ
    
    apertures: false
    foil: false
    fringe: true
    impedance:
        xy: false
        z: false
    spacecharge:
        xy: false
        z: false
    rf: false
    solenoid: false

inj:
    intensity: 2.258e11
    x:
        order: 9
        alpha: 0.064
        beta: 10.056
        eps: 0.221e-06
        pos: 0.0486
        mom: 0.0
    y:
        order: 9
        alpha: 0.063
        beta: 10.815
        eps: 0.221e-06
        pos: 0.0460
        mom: 0.0
    z:
        fill_fraction: 139.68
        tail_fraction: 0.0
        energy:
            sigma: 0.0005
            trunc: 1.0
            min: -0.0025
            max: +0.0025
            centroid:
                mean: 0.0
                sigma: 0.000000001
                trunc: 1.0
                min: -0.0035
                max: +0.0035
                drifti: 0.0
                driftf: 0.0
            spread:
                nu: 100.0
                phase: 0.0
                max: 0.0
                nulltime: 0.0    

foil: 
    thickness: 390.0
    scatter: full
    parent_index: 0
    
impedance: 
    xy:
        n_bins: 64
        use_x: false
        use_y: true
        alpha_x: 0.0
        alpha_y: -0.004
        beta_x: 10.191
        beta_y: 10.447
        tune_x: 6.21991
        tune_y: 6.20936
    z:
        n_macros_min: 1000
        n_bins: 128
        
spacecharge:
    xy:
        solver: slicebyslice
        gridx: 128
        gridy: 128
        gridz: 64
        path_length_min: 1.00e-08
        n_macros_min: 1000
        boundary: true
        boundary_modes: 32
        boundary_points: 128
        boundary_radius: 0.220
    z:
        b_over_a: 3.333
        n_macros_min: 1000
        n_bins: 64

rf:
    voltage_1a: 0.000002
    voltage_1b: 0.000002
    voltage_1c: 0.000002
    voltage_2: -0.000004
    hnum_1a: 1.0
    hnum_1b: 1.0
    hnum_1c: 1.0
    hnum_2: 2.0

turns_inj: 1026
turns_store: 0
macros_per_turn: 100
write_bunch_freq: 100
track: true

plot_freq: 100
progbar: true
    